<!DOCTYPE html>
<html>
<head>
    <title>{{ todo_list.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>{{ todo_list.title }}</h1>
        <p>{{ todo_list.description }}</p>
        <h2>Tasks:</h2>
        <ul class="list-group">
            {% for todo in todos %}
            <li class="list-group-item">{{ todo.title }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'todo-create' todo_list.id %}" class="btn btn-primary mt-3">Add New Task</a>
    </div>
</body>
</html>
